.shadow-custom {
  @media (min-width: 768px) {
    box-shadow: 0 6px 6px hsl(0deg 0% 0% / 0.3);
    border-radius: 25px;
    width: 100%;
  }
}

.shadow-custom .PUdfMqQ3ir3eed8hzhf5 {
  color: red;
  background-color: aquamarine;
  /* padding: 12px 16px !important; */
  padding-top: 1px;
  padding-left: 1px;
  padding-right: 1px;
}
