@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  animation: spin 1s linear infinite;
  border-top-color: #d8981f;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;
}
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

p {
  font-size: 1rem;
  @media (max-width: 640px) {
    line-height: 1.25;
  }
}

h1 {
  font-size: 2.75rem;
  line-height: 1.25;
  font-weight: 600;

  @media (max-width: 1024px) {
    font-size: 2.5rem;
  }
  @media (max-width: 640px) {
    font-size: 2rem;
  }
}

h2 {
  font-size: 1rem;
  letter-spacing: 2px;
  font-weight: 400;
}

@layer {
  .shadow-custom {
    @media (min-width: 768px) {
      box-shadow: 0 6px 6px hsl(0deg 0% 0% / 0.3);
      border-radius: 25px;
      width: 100%;
    }
  }

  .shadow-custom .PUdfMqQ3ir3eed8hzhf5 {
    color: red;
    background-color: aquamarine;
    /* padding: 12px 16px !important; */
    padding-top: 1px;
    padding-left: 1px;
    padding-right: 1px;
  }
}

/* Flickity */

.main-carousel {
  position: relative;
}

.flickity-button {
  background: #d8981f;
  border: 1px solid #fafafa;
  padding: 7px;
  border-radius: 10px;
}

.flickity-button-icon {
  fill: #fafafa;
}

.flickity-button:disabled {
  background: #d3d5d7;
  border: 1px solid #fafafa;
  padding: 7px;
  border-radius: 10px;
}

.flickity-button:disabled .flickity-button-icon {
  fill: #fafafa;
}

.flickity-prev-next-button {
  width: 50px;
  height: 50px;
}

.previous {
  position: absolute;
  left: 0;
  top: 40%;
  margin-left: 10px;
}

.next {
  position: absolute;
  right: 0;
  top: 40%;
  margin-right: 10px;
}

/* https://stackoverflow.com/questions/42714116/how-to-hide-border-flickity-in-chrome */
/*This is bad for accessability, need to add focus to dots or nav*/
.flickity-enabled:focus {
  outline: none;
}
